canvas{
    display: block;
    margin: 0 auto; 
    margin-top: 40px;
    border: 2px solid black; 
    border-radius: 6px;
    
}
body{
    background-image: url(https://avatanplus.com/files/resources/original/59d7a842065cf15ef26941ea.jpg);

}
#message{
    color: white;
    text-align: center;
    width: 608px;
    margin: 0 auto; 
    border: 2px solid black;
    border-radius: 5px;
    background-color: green;

}
.btn{
    width: 200px;
    height: 35px;
    font-size: 20px;
    color: aliceblue;
    margin: 0 auto;
    margin-top: 20px;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;

}
.btn:hover {
    background: rgb(232,95,76);
} 
.btn:active { 
    background: rgb(152,15,0); 
} 